{
"detect_track_name":"M_Detect_Hunter_Common_Gray_10.1.1.model",
"headpose_name":"M_Align_CalcPose_Ann_106_2.3.0.model",
"alignment_name":"M_Align_Deepface_106_track_2.20.1.model",
"verify_name":"M_Verify_Insight_Common_4.1.2.model",
"attribute_name":"M_Attribute_Face_Advertisement_2.6.0.model",
"liveness_name":"M_Liveness_Antispoofing_General_7.84.0.model",
"detect_detect_name":"M_Detect_Hunter_LargeFace_Gray_11.5.1.model"
}